.sc-dnqmqq {
    /* background-color: grey; */
    
    width: 230px;
    height: 100%;
    border-radius: 6px;
    position: relative;
    padding: 20px;
}

.ic {
    /* transition: transform 0.5s; */
    border-radius: 6px;
    background-color: grey;
    color: white;
    padding: 10px;
}

/* .ic:hover {
    transform: scale(1.2);
} */

.bqyzQp{
    margin-bottom: 4%;
}