.sc-dnqmqq {
  /* background-color: grey; */

  width: 230px;
  height: 100%;
  border-radius: 6px;
  position: relative;
  padding: 25px;
}

.ic {
  /* transition: transform 0.5s; */
  border-radius: 6px;
  background-color: grey;
  color: white;
  padding: 10px;
}

.bqyzQp {
  margin-bottom: 2%;
}

.bghjHX {
  padding: 24px;
}
